Welcome to URL Lockbox...

Enter a URL title and a URL.
<div class="form">
  <form>
    Title:<br>
    <input type="text" name="title" id="url-title"><br>
    URL:<br>
    <input type="text" name="url" id="url-url"><br><br>
  <input type="submit" value="Submit a link" id="create-url" class="btn btn-primary btn-md"><br><br>
  </form>
</div>

<div id="list-of-urls">
</div>
